table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: auto;
}

h2, th, td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
