<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
</head>
<body>

{% if history %}
<div class="history-container">
    {{history}}
    <table class="history-container-tip">
        <tr>
            <td>* Minor Edit = grammar edit or minor wording change including updated Hyperlinks</td>
        </tr>
    </table>
</div>
{% endif %}

{% if question_list %}
<div class="questions-container">
    {% for question in question_list %}
    {{ question }}
    {% endfor %}
</div>
{% endif %}

</body>
</html>